#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [4]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [5]:
branch_profit =df.groupby('Branch')['gross income'].agg(sum).sort_values(ascending=False)
print (branch_profit)
print (f' –ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —î {branch_profit.index[0]} –∑ –ø—Ä–∏–±—É—Ç–∫–æ–º {branch_profit.iloc[0]}')

#2 –≤–∞—Ä—ñ–∞–Ω—Ç
branch_profit =df.groupby('Branch')['gross income'].agg(sum)
print (max(branch_profit))

Branch
C    5265.1765
A    5057.1605
B    5057.0320
Name: gross income, dtype: float64
 –ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —î C –∑ –ø—Ä–∏–±—É—Ç–∫–æ–º 5265.1765
5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [6]:
city_profit =df.groupby('City')['gross income'].agg(sum).sort_values(ascending=False)
print (city_profit)
print (f'–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ {city_profit.index[0]}, –ø—Ä–∏–±—É—Ç–æ–∫ —Å—Ç–∞–Ω–æ–≤–∏—Ç—å {city_profit.iloc[0]}')

City
Naypyitaw    5265.1765
Yangon       5057.1605
Mandalay     5057.0320
Name: gross income, dtype: float64
–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ Naypyitaw, –ø—Ä–∏–±—É—Ç–æ–∫ —Å—Ç–∞–Ω–æ–≤–∏—Ç—å 5265.1765

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [7]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [8]:
Branch_max_el_acc = invoices_by_category['Electronic accessories'].sort_values(ascending=True)
print (f'–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ {Branch_max_el_acc.index[-1]}')

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ A

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

In [ ]:
1. –ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É—î–º–æ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤ –∑ –∫–∞—Ä—Ç–∫–æ—é —á–ª–µ–Ω–∞ —Ç–∞ –±–µ–∑ –¥–ª—è –ø–æ–¥–∞–ª—å—à–æ—ó –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤–æ—ó —Ä–æ–±–æ—Ç–∏

In [9]:
members_by_city = pd.pivot_table(df, index='City', columns=('Customer type'), values='Total', aggfunc='sum')
print ('–ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –ø–æ–∫—É–ø–æ–∫ –∑ –∫–∞—Ä—Ç–∫–æ—é —Ç–∞ –±–µ–∑ :', '\n', members_by_city.astype(int),'\n')

members_by_city_g = pd.pivot_table(df, index='City', columns=('Customer type','Gender'), values='Total', aggfunc='sum')
print ('–ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –ø–æ–∫—É–ø–æ–∫ –∑–∞ –≥–µ–Ω–¥–µ—Ä–æ–º :','\n')

print (members_by_city_g.astype(int))

–ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –ø–æ–∫—É–ø–æ–∫ –∑ –∫–∞—Ä—Ç–∫–æ—é —Ç–∞ –±–µ–∑ :
 Customer type  Member  Normal
City
Mandalay        53704   52492
Naypyitaw       56881   53687
Yangon          53637   52562

–ó–∞–≥–∞–ª—å–Ω–∞ —Å—É–º–∞ –ø–æ–∫—É–ø–æ–∫ –∑–∞ –≥–µ–Ω–¥–µ—Ä–æ–º :

Customer type Member        Normal
Gender        Female   Male Female   Male
City
Mandalay       26850  26854  26077  26415
Naypyitaw      34653  22227  27032  26655
Yangon         26643  26994  26626  25936

In [ ]:
2. –ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É—î–º–æ –º–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏. –¶–µ –¥–æ–ø–æ–º–æ–∂–µ –∑—Ä–æ–∑—É–º—ñ—Ç–∏ —è–∫ –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ —Ä–æ–∑—Ä–∞—Ö–æ–≤—É—é—Ç—å—Å—è –∫–ª—ñ—î–Ω—Ç–∏.

In [10]:
Payment_by_city = pd.pivot_table(df, index='City', columns=('Payment'), values='Total', aggfunc='count')
Payment_by_city

Payment    Cash  Credit card  Ewallet
City
Mandalay    110          109      113
Naypyitaw   124           98      106
Yangon      110          104      126

In [ ]:
–ó —Ç–∞–±–ª–∏—Ü—ñ –±–∞—á–∏–º–æ, —â–æ –∑–Ω–∞—á–Ω–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø–æ–∫ –∑–¥—ñ–π—Å–Ω–µ–Ω–∞ Cash.
–ü—Ä–æ–ø–æ–Ω—É—é –≤ –ø–æ–¥–∞–ª—å—à–æ–º—É —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –∑–∞–ª—É—á–µ–Ω–Ω—è –±–∞–Ω–∫–∞-–ø–∞—Ä—Ç–Ω–µ—Ä–∞ –∑ "–∫–µ—à-–±–µ–∫–æ–º", —â–æ –∑–∞—Ü—ñ–∫–∞–≤–∏—Ç—å –∫–ª—ñ—î–Ω—Ç—ñ–≤
–¥–æ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ –≤ –º–∞–≥–∞–∑–∏–Ω–∞—Ö.

In [ ]:
3. –ü—Ä–æ–∞–Ω–∞–ª—ñ–∑—É—î–º–æ —Ä–µ–π—Ç–∏–Ω–≥ –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ —É –º—ñ—Å—Ç–∞—Ö —Ç–∞ –ø–æ –≥–µ–Ω–¥–µ—Ä–∞—Ö.

In [11]:
Rating_by_city = pd.pivot_table(df, index='City', columns=('Gender'), values='Rating', aggfunc='mean')
Rating_by_city

Gender       Female      Male
City
Mandalay   6.876543  6.762353
Naypyitaw  7.157865  6.972000
Yangon     6.839130  7.196089

In [12]:
df.Rating.mean()

np.float64(6.9727)

In [ ]:
–ó —Ç–∞–±–ª–∏—Ü—ñ –±–∞—á–∏–º–æ, —â–æ –∫–ª—ñ—î–Ω—Ç–∏ —á–æ–ª–æ–≤—ñ–∫–∏ —Ç–∞ –∂—ñ–Ω–∫–∏ –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ –≤—ñ–¥ –∑–∞–≥–∞–ª—å–Ω–æ–≥–æ –¥–æ—Å–≤—ñ–¥—É –ø–æ–∫—É–ø–æ–∫ –º–∞–π–∂–µ –æ–¥–Ω–∞–∫–æ–≤–æ 
–Ω–∞ —Ä—ñ–≤–Ω—ñ "7". –ü—Ä–æ–ø–æ–Ω—É—é –∑–∞–ª—É—á–∏—Ç–∏ –≤—ñ–¥–¥—ñ–ª –º–∞—Ä–∫–µ—Ç–∏–Ω–≥—É –¥–ª—è –∑–±–æ—Ä—É –¥–µ—Ç–∞–ª—å–Ω–æ—ó —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—ó, —â–æ–¥–æ –ø—Ä–∏—á–∏–Ω –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è
—á–∏ –Ω–µ–∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –¥–ª—è –ø–æ–¥–∞–ª—å—à–æ–≥–æ –∞–Ω–∞–ª—ñ–∑—É —Ç–∞ –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—è —Ä–µ–π—Ç–∏–Ω–≥—É.